<template>
<div>
  <section>
    <draggable :options="options">
      <div class="item" v-for="item in items" :key="item.id">{{item.name}}</div>
    </draggable>
    <div class="about">
      <br>
      <table class="table table-bordered sample">
        <thead class="text-center">
        <tr>
          <th> </th>
          <th v-for="dayOfWeek in timetable.daysOfWeek" :key="dayOfWeek">{{dayOfWeek}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="komada in timetable.komads" :key="komada.time">
          <th class="times">{{komada.time}}</th>
          <draggable>
            <!-- eslint-disable-next-line -->
            <koma v-for="item in komada.komaArray" :session="item"></koma>
          </draggable>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
<!--  <b-button v-on:click="clear_button()" type="button" id="clearButton">削除</b-button>-->
</div>
</template>

<script>
import draggable from 'vuedraggable';
import Koma from '@/components/Koma.vue';
import Timetable from '@/components/Timetable';

export default {
  name: 'dnd',
  components: {
    draggable,
    Koma,
    // eslint-disable-next-line vue/no-unused-components
    Timetable,
  },
  data() {
    return {
      options: {
        animation: 200,
      },
      items: [
        { id: 1, name: 'NW' },
        { id: 2, name: '国語表現' },
        { id: 3, name: 'ビジネスマナー' },
        { id: 4, name: 'PHP' },
        { id: 5, name: 'ゼミ' },
        { id: 6, name: 'CD' },
        { id: 7, name: 'PBL' },
      ],
      timetable: new Timetable(),
      daysOfWeek: [
        '月',
        '火',
        '水',
        '木',
        '金',
      ],
      komads: [
        {
          time: 1,
          komaArray: [
            { subject: 'abcd', teacher: 'hira' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 2,
          komaArray: [
            { subject: 'efg', teacher: 'hea' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 3,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 4,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 5,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 6,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
      ],
    };
  },
  methods: {
    click() {
      this.timetable.copyKoma({ dayOfWeek: 1, time: 1 }, { dayOfWeek: 2, time: 2 });
    },
  },

};
</script>

<style>
  @media print {
    #clearButton {display: none;}
    #sideBar {display: none;}
    #sample {margin-right: 0;width: auto}
  }
  #sample {
    width: 75%;
  }
</style>
